.mat-elevation-z8{
  margin: 60px;
}
table {
    width: 80%;
    background-color: #1E1E1E;
  }
th{
    color: white ;
    font-weight: bold;
}
td{
  color: white ;
  font-weight: 100;
}
/* mat-paginator{
  background-color: black;
  color: white;
} */
aria-label{
  color: white;
}
::ng-deep .mat-mdc-paginator-outer-container{
  background-color: #191C24;
  color: white;
}
h1{
  color:#948f8f;
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
}
.green{
  background-color: green;
}
.orange{
 background-color: orange;
}
.red{
 background-color:#d42f23;
}
.bdg{
 padding: 2px;
 width: 50%;
 text-align: center;
}
.approve{
  background-color: green;
  border-color: green;
}
